.panel-heading {
    text-align: center;
    color: #ffffff;
    background-color: black;
    
  }

  .jumbotron {
      background-color: black;
      color: #ffffff
      

  }

  button{
      background: black;
      color: #ffffff
  }
  